.homepage-container {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.homepage-form {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homepage-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homepage-form-toggle {
  border: solid grey 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homepage-form-button {
  border-radius: 50px;
  width: 100px;
}

.homepage-form-label {
  display: flex;
}

/* CSS détails */

.preferences-container {
  display: flex;
  flex-direction: column;
  
  }

  .details-carte-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .carte-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }